/* @use "/home/cody/.cache/wal/colors" as *; */
/* @use "./themes/ayu_mirage" as *; */
@use "./themes/ayu_dark" as *;

// Variables

$edge-margin: 12px;
$module-separation: 16px;

// Bar

.bar {
  all: unset;
  font-family: Fira Code Nerd Font;
  font-size: 12px;
  background: $background;
  border-bottom: 2px solid $accent;

  // Containers

  .bar-left {
    margin-left: $edge-margin;
  }

  .bar-right {
    margin-right: $edge-margin;
  }

  // Modules

  .nix-info {
    color: $foreground;

    .nix-logo {
      margin-right: 6px;
    }
  }

  .mullvad {
    margin-left: $module-separation;

    .mullvad-logo {
      margin-right: 6px;
    }
  }

  .workspaces {
    .workspace-id {
      .circle-outer {
        padding: 2px;
        margin: 6px 2px;
        border: 2px solid #222222;
        border-radius: 100px;
      }

      .circle-inner {
        background: $foreground;
        border-radius: 100px;
      }

      &.occupied {
        .circle-outer {
          border: 2px solid $accent;
        }
      }

      &.current {
        .circle-outer {
          border: 2px solid #ffffff;
        }
      }
    }
  }

  .datetime {
    color: $foreground;
  }

  .brightness {
    color: $foreground;
    margin-right: $module-separation;

    scale {
      min-width: 64px;
      min-height: 5px;
    }

    .brightness-icon {
      font-size: 16px;
    }

    trough {
      background: #ffffff;
      border: none;
      border-radius: 20px;
      min-height: 4px;
    }

    slider {
      background-image: none;
      box-shadow: none;
      text-shadow: none;
    }

    highlight {
      background: $accent;
    }
  }

  .volume {
    color: $foreground;
    margin-right: $module-separation;

    .volume-icon {
      font-size: 12px;
    }

    scale {
      all: unset;
      min-width: 64px;
      min-height: 2px;
    }

    trough {
      background: #ffffff;
      border: none;
      border-radius: 20px;
      min-height: 4px;
    }

    slider {
      background-image: none;
      box-shadow: none;
      text-shadow: none;
    }

    highlight {
      background: $accent;
    }
  }

  .weather {
    color: $foreground;
    margin-right: $module-separation;

    .icon {
      margin-right: 8px;
    }
  }

  .battery {
    font-size: 16px;
    color: $foreground;

    &.charging {
      color: #00ff00;
    }

    &.low {
      color: #ff0000;
    }
  }
}
