@use "/home/cody/.cache/wal/colors" as *;

// Powermenu

.powermenu {
	all: unset;
	font-size: 64px;
	background: $background;
	border: 2px solid $color11;
	border-radius: 10px;
}

// Modules

.shutdown,
.reboot {
	button {
		background: none;
		color: $color8;
		border: none;
		padding: 0px 24px;
		transition: 1.0s;

		&:hover {
			color: white;
		}
	}
}
